<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Calculator</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styledatabase.css' %}">
</head>
<body id="core">
    <div id="navi">
        <div id="logo">
            <img src="{% static 'icon-nutrition.png' %}">
        </div>
        <nav>

        <a href="{% url 'webserver' %}">Calculator</a>

        <a href="{% url 'database' %}"> Food Database</a>

        <a href="{% url 'databasedell' %}">Database Delete</a>


        </nav>
        

    </div>
    <div id="content">
        <h2>For a quantity of 100g</h2>
        <form action="{% url 'database' %}" method="post">
            {% csrf_token%}
            <label>Food name: </label>
            <input type="text" name="Name" id="Name">
            <label>Calories: </label>
            <input type="number" name="Calories" id="Calories" step="0.1">
            <label>Carbohydrates: </label>
            <input type="number" name="Carbohydrates" id="Carbohydrates" step="0.1">
            <label>Protein: </label>
            <input type="number" name="Protein" id="Protein" step="0.1">
            <label>Fat: </label>
            <input type="number" name="Fat" id="Fat" step="0.1">
            <label>Fiber: </label>
            <input type="number" name="Fiber" id="Fiber" step="0.1">
            
            <input type="submit" value="Submit">
    
    
        </form>

    </div>


    {{myvalue}}
    {{Name}}
</body>
</html>